#p1{
color: rgb(225, 0, 255);
text-align:right;
font-family:Allan ;
text-decoration:underline;
font-weight: bold;
font-style: italic ;

}
sup {
    display: inline-block;
    
  }
#df{
color: red;

}
body{
    background-color:#ff99ff;
}
.mid{
    text-align:center;
    margin: auto; 
}
